{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MUSIC  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'music_song' %}"> Home <span class="sr-only">(current)</span></a>
            </li>
            {% if not request.user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'songs' %}"> All songs </a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watchlater' %}"> Watch later </a>
                
            </li>
        
        
            {% endif %}

            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}"> Signup </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"> Login </a>
            </li>
            {% endif%}
        
            {% if not request.user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link " href="#"> Logout  &nbsp;  &nbsp;  &nbsp;<span class="text-light text-uppercase " style=" letter-spacing: 3px;" >welcome {{ user }}</span></a>
            </li>
            <h5  ></h5>
            {% endif %}
        
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-0" type="search" placeholder="Search">
            <!-- mr-sm-0 make form tiet together -->
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>